<div class="container">
  <div class="center jumbotron">
    <h1>Welcome to<br/>Code Annotator</h1>

    <h2>
      Start marking up code today by signing up for an account with Code Annotator.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= render 'shared/login_form' %>

</div>