<% provide(:title, "Information") %>
<div class="information-page">
  <a name="About"></a>
  <h1>About</h1>
  <p>
    We help people annotate their code.
  </p>

  <a name="help"></a>
  <h1>Help</h1>
  <p>
    Please report issues on our GitHub page.
  </p>

  <a name="contact"></a>
  <h1>Contact</h1>
  <p>
    For questions or concerns, please visit out GitHub page.
  </p>
</div>