<% provide(:title, "Information") %>
<h1>Information</h1>

<a name="About"></a>
<h2>About</h2>
<p>
  We help people annotate their code.
</p>

<a name="help"></a>
<h2>Help</h2>
<p>
  Please report issues on our GitHub page.
</p>

<a name="contact"></a>
<h2>Contact</h2>
<p>
  For questions or concerns, please visit out GitHub page.
</p>