<% provide(:title, "Projects") %>
<div id="projects-page" class="container">
  <h1>Projects</h1>

  <div class="row">

    <% [[@authoredProjects, "My Projects"], 
        [@viewableProjects, "Shared for viewing"],
        [@annotatableProjects, "Shared for annotating"]].each do |data| %>
    <div class="project-set col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= data[1] %></h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
              <% if data[0].empty? %>
                <em>No projects.</em>

              <% else %>
                <table class="table table-hover sortable-theme-bootstrap" data-sortable>
                  <thead>
                    <th>Name</th><th>Creator</th><th>Created on</th><th></th>
                  </thead>
                  <tbody>
                    <%= render data[0] %>
                  </tbody>
                </table>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>

