<% provide(:title, @project.name) %>
<% provide(:no_footer, true) %>
<div class="container-fluid project-view">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar sidebar-collapse">
      <span class="sidebar-toggle btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Hide file list</span>
      <div class="root-directory directory">
      <%= render template: "projects/_project_file_listing", 
                 locals: { :files => @project.getFilesAsDirectories.files } %>
        <% #render @project.project_files.sort{|x,y| x.name <=> y.name} %>
      </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div id="project-view-header">
        <div class="button-bar">
          <span class="sidebar-toggle btn btn-default btn-xs"><span class="glyphicon glyphicon-list-alt"></span> Show file list</span>
          <div class="btn-group" role="group" aria-label="file operations">
            <% if @projectPermission.can_author %>
              <button type="button" class="btn btn-default btn-xs"><span 
                class="glyphicon glyphicon-cloud-upload"></span> 
                Upload files
              </button>
            <% end %>
            <button type="button" class="btn btn-default btn-xs"><span 
              class="glyphicon glyphicon-print"></span> 
              Print files
            </button>
            <button type="button" class="btn btn-default btn-xs"><span 
              class="glyphicon glyphicon-cloud-download"></span> 
              Download files
            </button>
            <% if @projectPermission.can_author %>
              <button type="button" class="btn btn-default btn-xs"><span 
                class="glyphicon glyphicon-remove-circle"></span> 
                Remove files
              </button>
              <button type="button" class="btn btn-default btn-xs"><span 
                class="glyphicon glyphicon-trash"></span> Delete project
              </button>
            <% end %>
          </div>
          <% if @projectPermission.can_annotate %>
          <div class="btn-group" id="selection-menu" role="group" 
                aria-label="selections">
            <button id="add-comment" type="button" 
                class="btn btn-default btn-xs disabled">
              <span class="glyphicon glyphicon-comment"></span>
              Add comment
            </button>
            <button id="add-to-comment" type="button" 
                class="btn btn-default btn-xs disabled">
              <span class="glyphicon glyphicon-plus"></span>
              Add to comment
            </button>
            <button id="add-alt-code" type="button" 
                class="btn btn-default btn-xs disabled">
              <span class="glyphicon glyphicon-random"></span>
              Add alternate code
            </button>
          </div>
          <% end %>
        </div>

        <h2 class="page-header"></h2>

      </div>

      <div id="file-and-annotations" class="row">
        <div id="file-display" class="col-sm-8 col-md-9">

        </div>

        <div id="comments" placeholder="No comments yet." 
          class="col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9"></div>
      </div>
    </div>
  </div>
</div>

<div id="templates" class="hidden">
  <div id="comment-template" class="panel panel-default comment">
<!--     <div class="panel-heading">
      <h3 class="panel-title comment-title"></h3>
    </div> -->
    <div class="panel-body comment-body" contenteditable="true"
      placeholder="Enter your comment here..."></div>
    <div class="panel-footer comment-footer"><span class="comment-owner"></span> <span class="comment-delete"><span class="glyphicon glyphicon-trash"></span></span> <span class="comment-saved"><span class="glyphicon glyphicon-floppy-saved"></span></span></div>
  </div>

  <div id="current-email"><%= current_user.email %></div>
</div>