<% provide(:title, @project.name) %>
<% provide(:no_footer, true) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <%= render @project.project_files %>
      </ul>
    </div>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

      So....


    </div>
  </div>
</div>